@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  cursor: none;
}

body {
  background: #fff;
  color: black;
}

#cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

li a:hover ~ #cursor {
  transform: scale(4);
}
